.dropDown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  right: 1.5rem;
  top: 4rem;
  background-color: #1d2327;
  border: 1px solid #2c3338;
  width: 12rem;
  padding-top: 8px;
  border-radius: 5px;
}

.dropDown span {
  padding: 6px;
  padding-left: 1rem;
  color: white;
  font-size: 14.5px;
}

.pin:hover {
  background-color: #2c3338;
}

.delete:hover {
  background-color: #2c3338;
}

.done:hover {
  background-color: #2c3338;
}

.publish:hover {
  background-color: #2c3338;
}
.copyLink:hover {
  background-color: #2c3338;
}
